/claims/cache/db/
/claims/cache/twig/
/claims/config/
/claims/logs/claims-app.log
/httpdocs/info.php
/php_error_log.txt
/vendor/
/claims/cache/data/
/claims/cache/route.cache
/upload/*
/config/
/tests/cache/data/
/defterdar.php
/my-deploy/
